.loginOut{
    text-align: center
}
.header{
    font-size 25px
    color: #ffffff  
    display: flex
    justify-content: space-between
    align-items: center
    .ant-dropdown-link{
        font-size: 15px
        color: #fff
    }
}
